[DEFAULT]
LogFile = servbot.log
CookiesFile = servbot.json
BotToken =
BotID = 
StaffChannel = 
PublicChannel = 
TwitterUser = 
TwitterEmail = 
TwitterPass = 
BskyUser = 
BskyPass = 
StartMessage = 
StartTweet = 
MastoInstance = 
MastoToken = 
RunItWebhook = 
TechChannel = 
secret = 
taskBase = 
taskTable = 
taskView = 
projBase = 
projTable = 
projView = 
staffBase = 
staffTable = 
staffView =
eventBase = 
eventTable = 
eventView = 
timeBase = 
timeTable = 
timeView = 
linkAPI = 
projCh = 